@import '../../style/global/variables.scss';
@import '../../style/global/flexbox.scss';

.pk-load {
  @extend %fb--collumn;
  @extend %fb--center-center;
  width: 100%;
  max-width: 1120px;
  height: 100%;
  padding: 0 25px;

  .pk-load__spin {
    border: 8px solid $bg-track;
    border-radius: 50%;
    border-top: 8px solid $thumb;
    width: 75px;
    height: 75px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
