/* Flexbox common structures */
%fb--collumn {
  display: flex;
  flex-flow: column;
}

%fb--collumn-wrap {
  display: flex;
  flex-flow: column wrap;
}

%fb--row {
  display: flex;
  flex-flow: row;
}

%fb--row-wrap {
  display: flex;
  flex-flow: row wrap;
}

/* Flexbox common alignments */
%fb--start-start {
  align-items: flex-start;
  justify-content: flex-start;
}

%fb--start-center {
  align-items: flex-start;
  justify-content: center;
}

%fb--start-end {
  align-items: flex-start;
  justify-content: flex-end;
}

%fb--center-start {
  align-items: center;
  justify-content: flex-start;
}

%fb--center-center {
  align-items: center;
  justify-content: center;
}

%fb--center-end {
  align-items: center;
  justify-content: flex-end;
}

%fb--end-start {
  align-items: flex-end;
  justify-content: flex-start;
}

%fb--end-center {
  align-items: flex-end;
  justify-content: center;
}

%fb--end-end {
  align-items: flex-end;
  justify-content: flex-end;
}
