// Global styles
@import './global/flexbox.scss';
@import './global/variables.scss';

// External font
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $txt;
  box-sizing: border-box;
}

#app {
  @extend %fb--collumn;
  @extend %fb--center-start;
  width: 100vw;
  height: 100vh;
  padding: 20px 20px;
  background-color: $bg;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $border-color;
}

::-webkit-scrollbar-thumb {
  background-color: $txt;
  border-radius: 3px;
}
