@import '../../style/global/variables.scss';
@import '../../style/global/flexbox.scss';

.pk-search {
  @extend %fb--collumn;
  @extend %fb--center-center;
  width: 100%;
  padding: 0 25px;

  .pk-search__input {
    @extend %fb--row;
    @extend %fb--center-start;
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    font-size: 0.95rem;
    color: $txt-alt;
    border: none;
    border-bottom: $border;
    background-color: transparent;
    outline: none;
    transition: color ease 0.2s, font-size ease 0.2s;
    overflow: hidden;
  }

  .pk-search__input::placeholder {
    color: $txt-alt;
  }

  .pk-search__input:focus {
    color: $txt;
    font-size: 1rem;
  }
}
